body{
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
} 

/* HEADER */
#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    padding: 5px 20px;
}

#menu a:hover{
    color: rgb(255, 76, 5);
    transition: .3s;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;   
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

ul li a:hover::before {
    transform: scale(1.1);
}

ul li a:hover {
    color: #ffee10;
}

 /* FOOTER */
footer{
    background-color: #222222;
    padding: 1em 0;
    
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 120px;
}


.iconf{
    text-decoration: none;
    text-decoration-style: none;
    text-transform: none;
    width: 30px;
    font-size: 30px;
    margin: 15px;
    color: #3b5998;
}
.iconi{
    text-decoration: none;
    text-decoration-style: none;
    text-transform: none;
    width: 30px;
    font-size: 30px;
    margin: 15px;
    color: #833AB4
}

.icont{
    text-decoration: none;
    text-decoration-style: none;
    text-transform: none;
    width: 30px;
    font-size: 30px;
    margin: 15px;
    color: #00acee;
}

/* CARDS */
.card-title{
    color: black;
    font-weight: 600;
    font-size: 50px;
    padding-top: 30px;
}

.card-text{
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding-top: 350px;
}

.card-img{
    max-height: 39rem;
    border-radius: 220px;
}

.card{
    border: 0;
}

#cardpikachu{
    border-radius: 200px;
}

.kawaki{
    margin: 50px;
}

.copy{
    color: white;
    display: block;
    font-weight: 500;
}

.hinata{
    width: 30%;
}

.logonaruto{
    width: 250px;
    height: 125px;
    margin-top: 50px;
}

.minato{
    width: 50%;
    
}

.description{
    font-weight: 600;
    text-align: center;
}

.botonenviar{
    margin-bottom: 15px;
}

.mikasa{
    width: 35%;
}

.eren{
    width: 35%;
}

.brook{
    width: 20%;
}

.luffy{
    width: 20%;
}

.onepiece{
    width: 250px;
    height: 125px;
    margin-top: 250px;
}

.h5noticias{
    font-size: 25px;
    padding: 0;
}

.card-img-top{
    margin: 20px;
    padding: 0px
}

.card-body p{
    padding: 2px;
}

.pnoticias{
    font-weight: 300;
}

@media (max-width: 767px){
    .container .card-body .h5noticias{
        font-size: 20px;
    }
    .noticiascontainer{
        flex-direction: column;
        align-items: center !important;
    }
    .card-img-top{
        width: 80%;
    }
    
    .container2{
        flex-direction: column;
        align-items: center !important;
    }

    .container3{
        grid-template-columns: 1fr !important;
    }
    .container3 img{
        width: 20%;
        height: 70%;
        
    }
    .imgno{
        display: none;
    }


}

.comment{
    background-color:rgb(202, 202, 202);
    border-radius: 12px;
    margin-top: 70px;
}

.form-label{
    font-style: italic;
    font-weight: 550;
}

.botonenviar{
    background-color: rgb(255, 76, 5);
    border: 0;
}

/* CONTENEDOR FLEXBOX */

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0 60px 0;
}
.container2 img {
    width: 300px;
}

/* CONTENEDOR GRID */

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    margin: 50px 0 60px 0;
}

.container3 img{
    width: 70%;
}