$color-gray: #222222;
$color-orange: rgb(255, 76, 5);
$color-facebook: #3b5998;
$color-instagram: #833AB4;
$color-twitter: #00acee;
$color-black: black;
$color-white: white;
$color-cream: rgb(202, 202, 202);